.calculator{
	width: 405px;
	border:solid 1px white;
	background: #ffefd5;
	margin: 10px;
	padding: 20px;
}
.output{
	width: 356px;
	height: 50px;
	padding: 20px;
	font-size: 20px;
	text-align: right;
	background: white;
}
input[type=button]{
	border: solid 1px white;
	width: 100px;
	height: 80px;
	background: grey;
	cursor: pointer;
	color: white;
	font-size: 30px;
}
.numbers{
	width: 300px;
	display: inline-flex;
	flex-wrap: wrap;
}
.operators{
	width: 100px;
	position: relative;
	left: -3px;
	display: inline-flex;
	flex-wrap: wrap;
}