*{
	padding: 0; margin: 0;
}

.main{
	width: 100%;
	height: 480px;
	background-image: url(../img//微信图片_20220505182653.png);
	background-size: 100%;
	margin-top: 100px;
}

.center{
	width: 950px;
	height: 480px;
	margin: 0 auto;
}

.right{
	width: 330px;
	height: 340px;
	background-color: white; 
	 border: 2px solid #c6c6c6;
	float: right;
	margin-top: 50px;
	padding: 20px;
}

.dl{
	height: 50px;
	border-bottom: 1px solid #e0e0e0;
}

.dl h1{
	color: #a8a8a8;
	margin-left: 40px;
	font-weight: bold;
}

.formgrop{
	height: 68px;
}

.formgrop #uname,.formgrop #upasswd{
width: 327px;
height: 38px;
background-color: #f8f8f8;
border: 1px solid #e0e0e0;
text-indent: 10px;
margin-top: 20px;
}

#remember,label{float: initial;}
.formgrop a{
	float: right;
	color: #4b4b4b;
}

.formgrop a:hover{
	color: orange;
}

#submit{
	width: 327px;
	height: 38px;
	color: white;
	background-color: orangered;
	font: 24px "microsoft yahei";
	border:0;
}

